<div class="col-md-4"></div>
<div class="col-md-4">
    
<br> <br> 
<h1>New Owner</h1>
<br> 

<%= render 'form' %>

<%= link_to 'Back', :back,class:"btn btn-info btn-lg" %>
</div>

<div class="col-md-4"></div>
